<div class="col-sm-12">
  <div class="card" >
    <div class="card-header font-weight-bold text-white bg-info">
      {{'Note['+this.NoteID+']'}}
    </div>
    <div class="card-body">

      <form [formGroup]="this.Form" class="form-horizontal" role="form">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <h5 style="display:inline">
              <span class="badge badge-info col-sm-12 text-left">Title
                <span style="color:crimson">*</span>
              </span>
            </h5>
            <input formControlName="Title" class="form-control" type="text" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <h5 style="display:inline">
              <span class="badge badge-info col-sm-12 text-left">Content

                <span style="color:crimson">*</span>
              </span>
            </h5>
            <textarea formControlName="Content" class="form-control" rows="10"></textarea>
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button type="button" [attr.noteid]="this.NoteID" class="btn btn-secondary col-sm-3 offset-9" >Close</button>
    </div>
  </div>

</div>
